<!DOCTYPE html>
<html>
    <head>
     <title>testapp</title>
     <script>
      const updateLux = async(url,element) => {
       .then(response => await.fetch(url)
       const target = document.getElementById(element)
       target.innerHTML = '<h1>&{sensorData}</h1>'
      }
     </script>
    </head>
    <body onLoad="updateLux('/lux','data')">
     <conter>
     <div id = "date">test</div>
     <input type ="button" value="kousin" onlick="updateLux('/lux','data')">
     </center>
    </body>
</html>
